# No whitespace after the comma or in your part name!
config SHIELD_LILY58CIRQUE_LEFT
    def_bool $(shields_list_contains,lily58cirque_left)

# No whitespace after the comma or in your part name!
config SHIELD_LILY58CIRQUE_RIGHT
    def_bool $(shields_list_contains,lily58cirque_right)