#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
//#include <dt-bindings/zmk/mouse.h>

#define DEFAULT 0
#define CURSOR_RIGHT 1
#define CURSOR_LEFT 2
#define NUMBERS_FKEYS 3
#define EXTRA_RIGHT 4

// Mouse speed increased
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 17    // default: 10
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// | GRAVE| 1 | 2 | 3 | 4 | 5 |       | 6 | 7 | 8 | 9 | 0 | DEL   |
// | ESC  | Q | W | E | R | T |       | Y | U | I | O | P | BKSPC |
// | TAB  | A | S | D | F | G |       | H | J | K | L | ; | ENTER |
// | LCTR | Z | X | C | V | B |       | N | M | , | . | / | RCTR  | 
//            |WIN|ALT|RSE|SFT|SPC|SPC|SFT|LOW|ALT|MNU|

            bindings = <
    &kp GRAVE              &kp N1   &kp N2   &kp N3    &kp N4     &kp N5                                        &kp N6           &kp N7           &kp N8    &kp N9    &kp N0   &kp DEL
    &kp ESC                &kp Q    &kp W    &kp E     &kp R      &kp T                                         &kp Y            &kp U            &kp I     &kp O     &kp P    &kp BSPC
    &lt EXTRA_RIGHT TAB    &kp A    &kp S    &kp D     &kp F      &kp G                                         &kp H            &kp J            &kp K     &kp L     &kp SEMI &kp RET
    &kp LCTRL              &kp Z    &kp X    &kp C     &kp V      &kp B                                         &kp N            &kp M            &kp COMMA &kp DOT   &kp FSLH &kp RCTRL
                                    &kp LGUI &kp LALT  &kp LSHIFT &lt CURSOR_LEFT SPACE &kp SPACE &kp SPACE  &lt CURSOR_RIGHT SPACE &kp RSHIFT    &kp RALT  &kp K_APP
            >;
        };

        cursor_right_layer {

// Cursor Control on the right (Right Space)
// ,------------------------------------------------------------------------------------.
// |      |   1  |   2  |   3  |   4  |   5  ||   6  |   7  |   8  |   9  |   0  | Del  |
// |------------------------------------------------------------------------------------|
// | Esc  |Break |WheelD|MousUp|WheelU| PgUp || PgUp | Home |  Up  | End  |   `  | Del  |
// |------+------+------+------+------+-------+------+------+------+------+------+------|
// |      |SelAll|MousLt|MousDn|MousRt| PgDn || PgDn | Left | Down |Right | ...  |      |
// |------+------+------+------+------+------|+------+------+------+------+------+------|
// |      | Undo | Cut  | Copy | Paste| Del  ||  Ins |MsBtLe|MsBtMi|MsBtRt| ...  |      |
// `------+------+------+------+------+------++------+------+------+------+------+------.
//               |      |      |      |      ||   X  |      |      |      |
//               +------+------+------+------++------+------+------+------+

            bindings = <
    &kp GRAVE           &kp N1          &kp N2           &kp N3         &kp N4          &kp N5                       &kp N6        &kp N7    &kp N8    &kp N9     &kp N0     &kp DEL
    &kp ESC             &kp PAUSE_BREAK &msc SCRL_DOWN   &mmv MOVE_UP   &msc SCRL_UP    &kp PG_UP                    &kp PG_UP     &kp HOME  &kp UP    &kp END    &kp GRAVE  &kp DEL
    &lt EXTRA_RIGHT RET &none           &mmv MOVE_LEFT   &mmv MOVE_DOWN &mmv MOVE_RIGHT &kp PG_DN                    &kp PG_DN     &kp LEFT  &kp DOWN  &kp RIGHT  &none      &kp RET
    &kp LCTRL           &kp K_UNDO      &kp K_CUT        &kp K_COPY     &kp K_PASTE     &kp DELETE                   &kp INSERT    &mkp LCLK &mkp MCLK &mkp RCLK  &none      &kp RCTRL
                                        &kp LGUI         &kp LALT       &kp LSHIFT      &lt CURSOR_LEFT SPACE  &kp SPACE &kp SPACE &none               &kp RSHIFT &kp RALT   &kp K_APP
           >;
        };

        cursor_left_layer {
// Cursor Control on the left (Left Space)
// ,------------------------------------------------------------------------------------.
// |  `   |   1  |   2  |   3  |   4  |   5  ||   6  |   7  |   8  |   9  |   0  | Del  |
// |------------------------------------------------------------------------------------|
// |  Esc |Break | Home |  Up  | End  | PgUp || PgUp |WheelU|MousUp|WheelD|   `  | Del  |
// |------+------+------+------+------+------++-------------+------+------+------+------|
// | Enter|SelAll|Right | Down | Left | PgDn || PgDn |MousLt|MousDn|MousRt| xxx  |Enter |
// |------+------+------+------+------+------++------|------+------+------+------+------|
// |      | xxx  |MsBtRt|MsBtMi|MsBtLe| Del  || Ins  | Cut  | Copy | Paste| xxx  |      |
// `------+------+------+------+------+------++------+------+------+------+------+------.
//               |      |      |      |   X  ||      |      |      |      |
//               +------+------+------+------++------+------+------+------+

            bindings = <
    &kp GRAVE           &kp N1          &kp N2     &kp N3     &kp N4     &kp N5                         &kp N6                 &kp N7         &kp N8         &kp N9           &kp N0    &kp DEL
    &kp ESC             &kp PAUSE_BREAK &kp HOME   &kp UP     &kp END    &kp PG_UP                      &kp PG_UP              &msc SCRL_UP   &mmv MOVE_UP   &msc SCRL_DOWN   &kp GRAVE &kp DEL
    &lt EXTRA_RIGHT RET &none           &kp LEFT   &kp DOWN   &kp RIGHT  &kp PG_DN                      &kp PG_DN              &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT  &none     &kp RET
    &kp LCTRL           &kp K_UNDO      &mkp RCLK  &mkp MCLK  &mkp LCLK  &kp DELETE                     &kp INSERT             &kp K_CUT      &kp K_COPY     &kp K_PASTE      &none     &kp RCTRL
                                        &kp LGUI   &kp LALT   &kp LSHIFT &none      &kp SPACE &kp SPACE &lt CURSOR_RIGHT SPACE &kp RSHIFT     &kp RALT       &kp K_APP
            >;
        };

        numbers_layer {
// Numbers on the home row, FNs on the top row, symbols in the second row
// (Lower or Raise)
// ,------------------------------------------------------------------------------------.
// |  `   |   1  |   2  |   3  |   4  |   5  ||   6  |   7  |   8  |   9  |   0  | Del  |
// |------------------------------------------------------------------------------------|
// | Esc  |   1  |   2  |   3  |   4  |   5  ||   6  |   7  |   8  |   9  |   0  |BackSp|
// |------+------+------+------+------+------||------+------+------+------+------+------|
// |      |   F1 |   F2 |   F3 |   F4 |   F5 ||   F6 |   F7 |   F8 |   F9 |   F10| Enter|
// |------+------+------+------+------+--------------+------+------+------+------+------|
// |      |  F11 |  F12 | LAlt |  xxx | xxx  || xxx  |  xxx |   ,  |   .  |   /  |      |
// `------+------+------+------+------+------++------+------+------+------+------+------.
//               |      |      |      |      ||      |      |      |      |
//               +------+------+------+------++------+------+------+------+

            bindings = <
    &kp GRAVE           &kp N1   &kp N2     &kp N3   &kp N4     &kp N5                       &kp N6 &kp N7     &kp N8     &kp N9    &kp N0    &kp DEL
    &kp ESC             &kp N1   &kp N2     &kp N3   &kp N4     &kp N5                       &kp N6 &kp N7     &kp N8     &kp N9    &kp N0    &kp BSPC
    &lt EXTRA_RIGHT TAB &kp F1	 &kp F2     &kp F3   &kp F4     &kp F5                       &kp F6 &kp F7     &kp F8     &kp F9    &kp F10   &kp RET
    &kp LCTRL           &kp F11  &kp F12    &none    &none      &none                        &none  &none      &kp COMMA  &kp DOT   &kp FSLH  &kp RCTRL
                                 &kp LGUI   &kp LALT &kp LSHIFT &none  	&kp SPACE &kp SPACE  &none  &kp RSHIFT &kp RALT   &kp K_APP
            >;
        };

        extra_right_layer {
// ExtraRightSide (the keys from the right side which did not fit into the matrix)
// ,-----------------------------------------------------------------------------------.
// | Esc  |   `  |Prof.0|Prof.1|Prof.2|Prof.3|   `  |   =  |   (  |   )  |   -  |      |
// |------+------+------+------+------+-------------+------+------+------+------+------|
// |******|      |      |      |      |      |      |      |      |      |  '   |      |
// This is the           Clear
// key turning           Current
// this layer on         Profile
// |------+------+------+------+------+------|------+------+------+------+------+------|
// |      |      |      |      |      |      |      |      |   [  |   ]  |  \   |      |
// `------+------+------+------+------+------+------+------+------+------+------+------.
//               |      |      |      |      |      |      |      |      |
//               +------+------+------+------+------+------+------+------+

            bindings = <
    &kp GRAVE &kp N1    &kp N2       &kp N3       &kp N4       &kp N5                        &kp N6    &kp N7     &kp N8   &kp N9   &kp N0    &kp DEL
    &kp ESC   &kp GRAVE &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3                  &kp GRAVE &kp EQUAL  &kp LPAR &kp RPAR &kp MINUS &kp BSPC
    &none     &none     &none        &bt BT_CLR   &none        &none                         &none     &none      &none    &none    &kp SQT   &kp RET
    &kp LCTRL &none     &none        &none        &none        &none                         &none     &none      &kp LBKT &kp RBKT &kp BSLH  &kp RCTRL
                        &kp LGUI     &kp LALT     &kp LSHIFT   &none  	 &kp SPACE &kp SPACE &none     &kp RSHIFT &kp RALT &kp K_APP
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <CURSOR_RIGHT CURSOR_LEFT>;
            then-layer = <NUMBERS_FKEYS>;
        };
    };

};
