#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// | ESC  | Q | W | E | R | T |    | Y | U | I | O | P | BKSPC |
// | TAB  | A | S | D | F | G |    | H | J | K | L | ; | ENTER |
// | LCTR | Z | X | C | V | B |    | N | M | , | . | / | RCTR  | 
//            |WIN|ALT|RSE|SFT|    |SFT|LOW|ALT|MNU|

            bindings = <
    &kp ESC    &kp Q    &kp W    &kp E     &kp R     &kp T                  &kp Y     &kp U     &kp I     &kp O     &kp P    &kp BSPC
    &kp TAB    &kp A    &kp S    &kp D     &kp F     &kp G                  &kp H     &kp J     &kp K     &kp L     &kp SEMI &kp RET
    &kp LCTRL  &kp Z    &kp X    &kp C     &kp V     &kp B                  &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH &kp RCTRL
                        &kp LGUI &kp LALT  &kp DEL   &kp LSHIFT         &kp RSHIFT    &kp SPACE &kp RALT  &kp LGUI
            >;

        };
    };
};